# Actual Budget Server
ACTUAL_BUDGET_DATA_DIR=/app/data
ACTUAL_BUDGET_URL=http://localhost:5006
ACTUAL_BUDGET_PASSWORD=aa
ACTUAL_BUDGET_SYNC_ID=aa
ACTUAL_BUDGET_ACCOUNT_ID=aa

# NODE_TLS_REJECT_UNAUTHORIZED=0

# Server
# PORT=3000
# LOG_JSON=true
